@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}


h1{
    font-size: 2.5rem;
    font-weight: 900;
}
h2{
    font-size: 2rem;
    font-weight: 800;
}
h3{
    font-size: 1.75rem;
    font-weight: 700;
}
h4{
    font-size: 1.5rem;
    font-weight: 600;
}
h5{
    font-size: 1.25rem;
    font-weight: 500;
}
h6{
    font-size: 1rem;
    font-weight: 400;
}